html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  font-family: Arial, sans-serif;
  color:black;
  font-size:31px;
}

/*----------------------------------------------------------------------- */
.btn {
  cursor: pointer; }

.abs {
  position: absolute;
  display: block; }

.rel {
  position: relative;
  display: block; }

.remove{
  display: none;
}

.show{
  opacity: 1 !important;
}

.hide{
  opacity: 0 !important;
}

.visi{
  visibility: visible !important;
}

.invisi{
  visibility: hidden !important;
}

.animateLogo{
  -webkit-transition: all 1s ease-out !important;
  transition: all 1s ease-out !important; }

.animate {
  -webkit-transition: all 0.5s ease-out !important;
  transition: all 0.5s ease-out !important; }

.animatePan {
  -webkit-transition: all 4s linear !important;
  transition: all 4s linear !important; }

.animateBox {
  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition:         all 600ms cubic-bezier(0.19, 1, 0.22, 1); }

.animateLines {
  -webkit-transition: all 0.2s ease-out !important;
  transition: all 0.2s ease-out !important; }

#mainContainer {
  border: 1px solid #000;
  display: block;
  width: 298;
  height: 598;
  overflow: hidden; }
  #mainContainer.start {
    visibility: hidden; }
  #mainContainer #collapsed {
    width: 300;
    height: 600;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: #acacac; }
    #mainContainer #collapsed #bgclick {
      background-color: rgba(0, 0, 0, 0.001);
      width: 300px;
      height: 600px;
      bottom: 0;
      left: 0; }
    #mainContainer #collapsed #bg {
      opacity: 1;
      top: 0;
      left: 0; }
    #mainContainer #collapsed #turningtablelogo {
      opacity: 1;
      top: 130;
      left: 6; }
    #mainContainer #collapsed #largelogo {
      opacity: 1;
      height: 148;
      width: auto;
      left: 6;
      top: 130; }
    #mainContainer #collapsed .largelogoplace {
      height: 604 !important;
      width: auto;
      left: -234 !important;
      top: 0 !important; }
    #mainContainer #collapsed #cta {
      opacity: 1;
      top: -12px;
      left: 0; }
    #mainContainer #collapsed #ctaOver {
      background-color: rgba(214, 191, 191, 0.3);
      opacity: 0;
      width: 263px;
      height: 52px;
      top: 256px;
      left: 18px;}

    #mainContainer #collapsed #visitlogo {
      opacity: 1;
      top: 0;
      left: 0; }

    #mainContainer #collapsed #frame1 {
      top: 0;
      left: -0; }
    #mainContainer #collapsed #frame2 {
      top: 0;
      left: -0; }
    #mainContainer #collapsed #frame3 {
      top: 0;
      left: -0; }
    #mainContainer #collapsed #frame4 {
      top: 0;
      left: -0; }
    #mainContainer #collapsed #frame5 {
      top: 0;
      left: -0; }
    #mainContainer #collapsed #frame6 {
      top: 0;
      left: -20; }
    #mainContainer #collapsed .framePan {
      left: -100 !important; }

    #mainContainer #collapsed #split1 {
      opacity: 1;
      top: -1;
      left: 0; }
    .split1Move{
      left: 10 !important;
    }
    #mainContainer #collapsed #split2 {
      opacity: 1;
      top: -1;
      left: 0; }
    .split2Move{
      left: -30 !important;
    }
    #mainContainer #collapsed #split3 {
      top: -1;
      left: 0; }
    .split3Move{
      left: -88 !important;
    }
    #mainContainer #collapsed #split4 {
      opacity: 1;
      top: -1;
      left: 0; }
    .split4Move{
      left: -40 !important;
    }
    #mainContainer #collapsed #split5 {
      opacity: 1;
      top: -1;
      left: 0; }
    .split5Move{
      left: 10 !important;
    }

    #mainContainer #collapsed .descaled {
      transform: scale(0.0) !important; } 

    #mainContainer #collapsed .textLeft {
      left: -420 !important; }
    #mainContainer #collapsed .textRight {
      left: 420 !important; }

    #mainContainer #collapsed #leftlineret {
      clip: rect(0px,5px,57px,0px);
      background-color: #fff;
      width: 2;
      height: 57;
      top: 256;
      left: 20; }
    .leftline3rdframe {
      left: 32 !important; }
    .leftline2ndframe {
      left: 115 !important; }
    .leftlinePreEntranceret {
      clip: rect(0px,5px,0px,0px) !important; }
    #mainContainer #collapsed #rightlineret {
      clip: rect(0px,5px,57px,0px);
      background-color: #fff;
      width: 2;
      height: 57;
      top: 256;
      left: 278; }
    .rightline3rdframe {
      left: 267 !important; }
    .rightline2ndframe {
      left: 183 !important; }
    .rightlinePreEntranceret {
      clip: rect(57px,5px,57px,0px) !important; }
    #mainContainer #collapsed #bottomlineret {
      clip: rect(0px,260px,5px,0px);
      background-color: #fff;
      width: 260;
      height: 2;
      top: 312;
      left: 20; }
    .bottomline3rdframe {
      clip: rect(0px,237px,5px,0px) !important;
      width: 237 !important;
      left: 32 !important; }
    .bottomline2ndframe {
      clip: rect(0px,70px,5px,0px) !important;
      width: 70 !important;
      left: 115 !important; }
    .bottomlinePreEntranceret {
      clip: rect(0px,0px,5px,0px) !important; }
    #mainContainer #collapsed #toplineret {
      clip: rect(0px,260px,5px,0px);
      background-color: #fff;
      width: 260;
      height: 2;
      top: 256;
      left: 20; }
    .topline3rdframe {
      clip: rect(0px,237px,5px,0px) !important;
      width: 237 !important;
      left: 32 !important; }
    .topline2ndframe {
      clip: rect(0px,70px,5px,0px) !important;
      width: 70 !important;
      left: 115 !important; }
    .toplinePreEntranceret {
      clip: rect(0px,260px,5px,260px) !important; }

    #mainContainer #collapsed #leftline {
      clip: rect(0px,5px,75px,0px);
      background-color: #fff;
      width: 2;
      height: 75;
      top: 12;
      left: 13; }
    .leftlinePreEntrance {
      clip: rect(0px,5px,0px,0px) !important; }
    #mainContainer #collapsed #leftline2 {
      clip: rect(0px,5px,181px,0px);
      background-color: #fff;
      width: 2;
      height: 181;
      top: 365;
      left: 13; }
    .leftlinePreEntrance2 {
      clip: rect(0px,5px,0px,0px) !important; }
    #mainContainer #collapsed #rightline {
      clip: rect(0px,5px,75px,0px);
      background-color: #fff;
      width: 2;
      height: 75;
      top: 12;
      left: 284; }
    .rightlinePreEntrance {
      clip: rect(263px,5px,263px,0px) !important; }
    #mainContainer #collapsed #rightline2 {
      clip: rect(0px,5px,58px,0px);
      background-color: #fff;
      width: 2;
      height: 58;
      top: 182;
      left: 284; }
    .rightlinePreEntrance2 {
      clip: rect(221px,5px,221px,0px) !important; }
    #mainContainer #collapsed #bottomline {
      clip: rect(0px,177px,5px,0px);
      background-color: #fff;
      width: 177;
      height: 2;
      top: 238;
      left: 110; }
    .bottomlinePreEntrance {
      clip: rect(0px,0px,5px,0px) !important; }
    #mainContainer #collapsed #topline {
      clip: rect(0px,274px,5px,0px);
      background-color: #fff;
      width: 274;
      height: 2;
      top: 12;
      left: 13; }
    .toplinePreEntrance {
      clip: rect(0px,274px,5px,274px) !important; }

    .sprite { background: url('sprite.png') no-repeat top left; width: 300px; height: 1800px;  } 
    .sprite.cta { background-position: 0 0; } 
    .sprite.eattle { background-position: 0 -608px; } 
    .sprite.i { background-position: 0 -608px; } 
    .sprite.is { background-position: 0 -608px; } 
    .sprite.s { background-position: 0 -608px; } 
    .sprite.visitlogo { background-position: 0 -1200px; } 
    .sprite.th { background-position: 0 -608px; } 